<%- include('../Partials/header.ejs') %>
<body>
    <%- include('../Partials/navbar.ejs') %>
  <div class="container quiz">
      <div class="row">
          <div class="col-lg-6">
              <h1>Todas as perguntas:</h1>
          </div>
            <div class="col-lg-6">
              <a href="/new" style="float:right">Fazer uma pergunta</a>
          </div>
      </div>
      <div class="card-body">
        <% perguntas.forEach(pergunta => { %> 
            <br/>
            <div class="card">
                <div class="card-header">
                    <%= pergunta.titulo %> 
                </div>
                <div class="card-body">
                    <%= pergunta.descricao %> 
                    <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary right">Responder pergunta</a>
                </div>
            </div>
        <% }); %> 
      </div>
</body>
<%- include('../Partials/footer.ejs') %>
