<%- include('../Partials/header.ejs') %>
<body>
    <%- include('../Partials/navbar.ejs') %>
  <div class="container quiz">
        <h1>Todas as perguntas:</h1>
      <div class="card-body">
        <% perguntas.forEach(pergunta =>{ %> 
            <br/>
            <div class="card">
                <div class="card-header">
                    <%= pergunta.titulo %> 
                </div>
                <div class="card-body">
                    <%= pergunta.descricao %> 
                    <a href="/perguntar" class="btn btn-primary right">Responder pergunta</a>
                </div>
            </div>
        <% }); %> 
      </div>
</body>
<%- include('../Partials/footer.ejs') %>
